body{
  margin: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* top nav bar */
.navbar{
  color: grey;
  padding: 1% 2%;
  border-bottom: 0.5px solid grey;
}

.icon{
  width: 1.5%;
  margin-right: 2%;
  vertical-align: middle;
}

.logo{
  width: 2.25%;
  margin-right: 0.8%;
  vertical-align: middle;
}

.head{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 1.25rem;
}

/* main body */
.main{
  display: flex;
}

/* side bar */
.sidebar{
  width: 20%;
  padding: .75% 2% .75% 0;
}

.option{
  margin: auto;
  padding: 1%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.option:hover{
  background-color: #f5f5f5;
}

.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  /* background-color: blue; */
  padding-left: 15%;
}

.new-note{
  margin: 5% 0;
  width:50%;
}

.type-box{
  width: 100%;
  padding: 1%;
  margin: auto;
  height: 30px;
}
